@model ComplianceAuditWeb.Models.complianceActmappingViewModel

@{
    /**/

    ViewBag.Title = "Assign Acts";
}


@section scripts{
    <link href="~/Content/themes/default/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jstree.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/themes/CustomJstreecss.css" rel="stylesheet" />
    <script>
        $('#actjstree').on('changed.jstree', function (e, data) {

            var i, j;
            var selectedItems = [];
            for (i = 0, j = data.selected.length; i < j; i++) {

                //Fetch the Id.
                var id = data.selected[i];
                var selectednode = data.instance.get_node(data.selected[i]);
                // if (selectednode.original.categorytype == "Rule") {
                alert(id);
                selectedItems.push({
                    text: data.instance.get_node(data.selected[i]).text,
                    id: id,
                    //categorytype: data.instance.get_node(dat.selected[i]).orginal.categorytype
                });
                //}
                $('#selectedItems').val(JSON.stringify(selectedItems));

            }
        });
        $(function () {
            var compliancetype = $('#compliancetypeid').val();
            $('#actjstree').jstree({
                'plugins': ["checkbox"],
                'core': {
                    'data': {
                        'url': '/ManageCompliance/getcompliancetypeact?compliancetype=' + compliancetype,
                        //'data': { compliancetypeid: _acttyid },
                        'dataType': 'json'
                    },
                }
            });
            //LoadJSTree();
        });

        function LoadJSTree() {
            
           // .url -> jstree(true).settings.core.data.url = "/new/data/url";
            //var url = '/ManageCompliance/getcompliancetypeact/1';
            //alert(url);
            //$('#actjstree').jstree(true).settings.core.url = url;
            var _acttyid = $('#compliancetypeid').val();  
            $.post('/Common/SetSessionVariable',
                { key: "compliancetypeid", value: _acttyid }, function (data) {
                    //alert("Success " + data.success);
                });

            $('#actjstree').jstree(true).refresh();
           //$('#actjstree').jstree('destroy');
        //  var _acttyid = $('#compliancetypeid').val();           
          //$('#actjstree').jstree({
          //    'plugins': ["checkbox"],
          //    'core': {
          //        'data': {
          //            'url': '/ManageCompliance/getcompliancetypeact?compliancetype=' + $('#compliancetypeid').val(),
          //             // 'data': { compliancetypeid: _acttyid },
          //              'dataType': 'json'
          //          },
          //      }
          //  });
        }

        function GetComplianceList() {
            //$('#actjstree').jstree('destroy');
            //var epty = null;
            //$('#selectedItems').removeData();  
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#ComplianceID").html(procemessage).show();
            var countryid = $("#countryid").val();
            var industrytypeid = $("#industryid").val();
            var url = "/Common/getCompliance";
            alert("Compliancelist");
            $.ajax({
                url: url,
                data: { countryid: countryid, industrytypeid: industrytypeid },
                cache: false,
                type: "POST",
                success: function (data) {

                    //var markup = "<option value='0' >-- Select Compliance Type --</option>";
                    var markup = "";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#compliancetypeid").html("").show();
                    $("#compliancetypeid").html(markup).show();
                    LoadJSTree();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }
    </script>
}

<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=14">Compliance Management</a></li>
    <li>Compliance Type Act Mapping</li>
</ul>
<h2 class="ML15">Compliance Type Act Mapping</h2>
@using (Html.BeginForm("ComplianceActMapping", "ManageCompliance", FormMethod.Post))
{
    <div class="mid_content_sec">
        @if (TempData["Message"] != null)
        {
            @*<p class="alert alert-success">@TempData["Message"]</p>*@
            <p id="successMessage">@TempData["Message"]</p>
        }
        @if (TempData["Error"] != null)
        {
            @*<p class="alert alert-warning">@TempData["Error"]</p>*@
            <p id="successMessage">@TempData["Message"]</p>
        }

        <div class="col-xs-4 subSelect ">
            <div class="input-field">
                @Html.Label("Country", new { @class = "floating-label" })
                @Html.DropDownListFor(model => model.countryid, Model.Country, new { @onchange = "javascript:GetComplianceList(); ", @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>

        <div class="col-xs-4 subSelect ">
            <div class="input-field">
                @Html.Label("Industry Type", new { @class = "floating-label" })
                @Html.DropDownListFor(model => model.industryid, Model.IndustryType, new { @onchange = "javascript:GetComplianceList(); ", @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>

        <div class="col-xs-4 subSelect ">
            <div class="input-field">
                @Html.Label("Compliance Type", new { @class = "floating-label" })
                @Html.DropDownListFor(model => model.compliancetypeid, Model.ComplianceType, new { @onchange = "javascript:LoadJSTree(); ", @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="col-xs-10 subSelect ">
            <br />
            <div id="actjstree"></div>
        </div>
        <div class="clearfix"></div>
        <ul class="list-inline continueBtn">
            <li>
                <input type="hidden" name="selectedItems" id="selectedItems" />
                @*@Html.HiddenFor(model => model.compliancetypeid)*@
                <input type="submit" value="Apply" class="btn primary-button" />
                <input type="reset" value="Reset" class="btn primary-button" />
                <a href="@Url.Action("ListofCompliance","ManageCompliance")" class="btn primary-button">Cancel</a>
            </li>
        </ul>
    </div>
}