
@model ComplianceAuditWeb.Models.AuditViewModel
@{
    ViewBag.Title = "ComplianceAuditing";
}

<h2>insertComplianceAudit</h2>
@using (Html.BeginForm())
{
    int rulecount = 0;

<table>

    @*@foreach (var data in (List<ComplianceAuditWeb.Models.AuditViewModel>)ViewBag.List)
        {*@


    @foreach (var item in Model.complianceXrefList)
    {

        for (int i = 0; i < Model.complianceXrefList.Count(); i++)
        {
            var d = Model.complianceXrefList[i];
            <tr>

                {
                @if (item.Comp_Category == "ACT")
                {
                    <td>
                        <img src="~/Content/assets/images/acts.png" /> @Html.DisplayFor(m => item.Compliance_Title)
                    </td>
                }
                else if (item.Comp_Category == "SEC")
                {
                    <td style="margin-left:10px">
                        <img src="~/Content/assets/images/sections.png" /> @Html.DisplayFor(m => item.Compliance_Title)
                    </td>
                }
                else
                {
                    <td style="margin-left:20px">
                        <img src="~/Content/assets/images/rules.png" />@Html.DisplayFor(m => item.Compliance_Title)
                        @{rulecount = rulecount + 1;}
                    </td>
                    <td>@Html.TextBoxFor(model => Model.complianceAuditList[rulecount].Penalty_nc)</td>
                    <td>@Html.TextBoxFor(model => Model.complianceAuditList[rulecount].Audit_Remarks)</td>
                    <td>@Html.TextBoxFor(model => Model.complianceAuditList[rulecount].Audit_Date)</td>
                    @*<td>@Html.TextBoxFor(m => m.complianceAudit.Audit_Remarks)</td>
                        <td>@Html.TextBoxFor(m => m.complianceAudit.Audit_Date)</td>
                        <td>@Html.TextBoxFor(m => m.complianceAudit.Penalty_nc)</td>*@

                }


            </tr>
        }
    }






</table>


<input type="submit" value="Save" class="btn btn-default" />
                            }







