@model ComplianceAuditWeb.Models.Compliancetype_view_model

@{
    ViewBag.Title = "Auditor Page";
}
<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=18">Audit Management</a></li>
    <li>Auditor Dashboard</li>
</ul>
<h2 class="ML15">Auditor Dashboard</h2>
@using (Html.BeginForm())
{
<div class="mid_content_sec">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.Label("Name : ")
    @Html.DisplayFor(model => model.vendorname)
       <div class="clearfix"></div>
    <div class="col-xs-4 subSelect ">
        <div class="input-field">
            @Html.Label("Select Year", new { @class = "floating-label" })<span style="color:red">*</span>
            @Html.DropDownListFor(m=>m.year, Enumerable.Range(2010, DateTime.Now.Year-2009).Select(i=> new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
           "Select Year", new { @class = "inputMaterial ui - autocomplete - input" })
            @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="clearfix"></div>
    @*<div class="col-xs-12 subSelect ">*@
    @if (Model != null)
    {
        <div class="new_section_box">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">

                    @foreach (var item in Model.compliance_Types)
                    {
                        <h4 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">@item.Name</h4>
                        // string enumfrequency = "fullcalender";
                        DateTime sdate = item.startdate;
                        DateTime edate = item.enddate;
                        int diff = sdate.Year - Model.year;
                        sdate.AddYears(diff);
                        // edate.AddDays(2);
                        int inc = 1;
                        if (item.auditfrequency == 1)
                        {
                            inc = 11;
                        }
                        else if (item.auditfrequency == 2)
                        {
                            inc = 5;
                        }
                        else if (item.auditfrequency == 4)
                        {
                            inc = 3;
                        }
                        else
                        {
                            inc = 1;
                            //int days = item.enddate.Day - 1;
                            //edate = edate.AddDays(days);
                        }
                        for (int i = 0, j = 0; j < item.auditfrequency; i = i + inc, j++)
                        {
                            <div class="col-sm-3 QueList">
                                <div class="queContainer">
                                    <a href="@Url.Action("Auditentry", "ManageAudit",
                                                    new { compliancetypeid = item.complianceid,branchid=Model.branchid,vendorid=Model.vendorid,
                                                        sdate =@sdate.AddMonths(i),edate=@edate.AddMonths(i) })">jqgrid</a>
                                    <a href="@Url.Action("AuditWebgrid", "ManageAudit",
                                                    new { compliancetypeid = item.complianceid,branchid=Model.branchid,vendorid=Model.vendorid,
                                                        sdate =@sdate.AddMonths(i),edate=@edate.AddMonths(i) })">
                                        <span class="qIcon"></span>
                                        @if (inc == 1)
                                        {
                                            <h3 class="PB25">  @sdate.AddMonths(i).ToString("MMM")</h3>
                                        }
                                        else
                                        {
                                            <h3 class="PB25">  @sdate.AddMonths(i).ToString("MMM") - @edate.AddMonths(i).ToString("MMM")</h3>
                                        }
                                    </a>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        }

                        <div class="clearfix"></div>
                    }
                </div>

            </div>

        </div>
    }
    @*</div>*@

</div>
    <div class="clearfix"></div>
}
