@model ComplianceAuditWeb.Models.AboutCompanyViewModel
@{
    ViewBag.Title = "About Group Company";
}


<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=6">Group Management</a></li>
    <li>About Group Company</li>
</ul>
<h2 class="ML15">About Group Company</h2>

@using (Html.BeginForm())
{
    if (TempData["Success"] != null)
    {
        <center>
            <p id="successMessage">@TempData["Company"]@TempData["Success"]</p>
        </center>
    }


    <div class="mid_content_sec">
        <div class="col-xs-4 subSelect ">
            <img src="/UploadedFiles/@Model.CompanyLogo" alt="" style="height:200px;width:250px" />

        </div>
        <div class="col-xs-8 subSelect ">
            @*@if (Convert.ToInt32(Session["ParentCompanyID"]) == 0)*@


            <div class="input-field">
                @Html.Label("Group Company Name")
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "inputMaterial ui - autocomplete - input", @readonly = "readonly" })
            </div>



            @*@Html.Label("Company Name", new { @class = "floating-label" })




                <div class="col-xs-12 subSelect ">*@

            <div class="input-field">


                @Html.Label("Group Company Description", new { @class = "floating-label" })
                @Html.TextAreaFor(m => m.CompanyDescription, new { @class = "inputMaterial ui - autocomplete - input", @rows = 12, @readonly = "readonly" })
            </div>
            <div class="clearfix"></div>

            @Html.HiddenFor(m => m.CompanyID)
            @Html.HiddenFor(m => m.ParentCompanyID)

            @*</div>*@


        </div>
    </div>

    <ul class="list-inline continueBtn">


        <li>
            @Html.ActionLink("Modify", "UpdateGroupCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
        </li>
        <li>
            @Html.ActionLink("Delete", "DeleteGroupCompany",  new{ Orgid = Model.CompanyID },
                  new { @onclick = "return confirm('Are you sure you want to delete?');", @class = "btn primary-button" })

            @if (Model.Is_Active == true)
            {
                @*@Html.ActionLink("Deactivate", "DeactivateGroupCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })*@

                @Html.ActionLink("Deactivate", "DeactivateGroupCompany",  new{ Orgid = Model.CompanyID },
            new { @onclick = "return confirm('Are you sure you want to deactivate?');", @class = "btn primary-button" })
            }

            else
            {

                @Html.ActionLink("Activate", "ActivateGroupCompany",  new{ Orgid = Model.CompanyID },
            new { @onclick = "return confirm('Are you sure you want to activate?');", @class = "btn primary-button" })

            }
        </li>
        <li>
            @Html.ActionLink("Add Company", "AddCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })

            @*<input type="submit" value="Add Company" class="btn primary-button"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>*@
        </li>
        <li>
            @Html.ActionLink("Cancel", "GroupCompanyList", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })

        </li>
    </ul>

    if (Model.AboutGroupCompany.Count > 0)
    {

        <div class="new_section_box">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h2 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">List of Companies:</h2>


                    @foreach (var item in Model.AboutGroupCompany)
                    {
                    <div class="col-sm-3 QueList">
                        <div class="queContainer">
                            <a href="@Url.Action("AboutCompany", "ManageOrganization", new { id = item.OrganizationID })">
                                @if (item.Is_Active == false)
                                {
                                    <i class="fa fa-ban"></i>
                                }
                                else
                                {
                                    <i class="fa fa-check-circle"></i>
                                }
                                <span class="qIcon"><img src="/UploadedFiles/@item.logo" alt="" style="height:60px;width:75px"></span>

                                <h3 class="PB25"> @Html.DisplayFor(modelItem => item.CompanyNameList)</h3>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    }
                    

                </div>
            </div>
        </div>

    }
    else
    {
        <center>
            <p id="successMessage">@ViewBag.Message</p>
        </center>
    }
}
