@model ComplianceAuditWeb.Models.AboutCompanyViewModel
@*@model dynamic*@
@{
    ViewBag.Title = "About Company";
}

@*<h2 class="ML15">Manage Group Company</h2>
    <ul class="breadcrumb ML15">
        <li><a href="">Group Management</a></li>
        <li> Group Company</li>
    </ul>*@
@*@if (Convert.ToInt32(Session["ParentCompanyID"]) == 0)

    {
        <h2 class="ML15">Manage Group Company</h2>
        <ul class="breadcrumb ML15">
            <li><a href="/Common/dashboard?pid=6">Group Management</a></li>
            <li> Group Company</li>
        </ul>
    }
    else*@

<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=9">Company Management</a></li>
    <li>About Company</li>
</ul>
<h2 class="ML15">About Company</h2>

@using (Html.BeginForm())
{
    if (Session["GroupCompanyName"] != null)
    {
        Model.GroupCompanyName = Session["GroupCompanyName"].ToString();

        <center>

            <h3 class="text-uppercase"> You are in @Html.DisplayFor(m => m.GroupCompanyName)</h3>
        </center>


    }


    if (TempData["Success"] != null)
    {
        <center>
            <p id="successMessage">@TempData["Company"]@TempData["Success"]</p>
        </center>
    }
    <div class="pull-right fa fa-pull-right" style="font-size:large">

        <i class="fa fa-plus"></i><font style="font-size:14px; color:dimgray; font-family:Arial">
            @Html.ActionLink("Add Company", "AddCompany", new { Orgid = Model.ParentCompanyID })
        </font>

        @*@TempData["ParentCompanyID"] = Model.ParentCompanyID;*@


    </div>

    <div class="mid_content_sec">
        <div class="col-xs-4 subSelect ">
            <img src="/UploadedFiles/@Model.CompanyLogo" alt="" style="height:200px;width:250px" />

        </div>
        <div class="col-xs-8 subSelect ">



            @*<div class="col-xs-4 subSelect ">*@
            <div class="input-field">
                @Html.Label("Compny Name")




                <a href=" @Url.Action("UpdateCompany", "ManageOrganization", new { Orgid = Model.CompanyID })" />

                
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "inputMaterial ui - autocomplete - input", @readonly = "readonly" })

            </div>




        </div>



        @*</div>*@

        @*@Html.Label("Company Name", new { @class = "floating-label" })




            <div class="col-xs-12 subSelect ">*@

        <div class="col-xs-8 subSelect ">
            <div class="input-field">


                @Html.Label("Company Description", new { @class = "floating-label" })
                @Html.TextAreaFor(m => m.CompanyDescription, new { @class = "inputMaterial ui - autocomplete - input", @rows = 12, @readonly = "readonly" })
            </div>
        </div>
        @*<div class="clearfix"></div>*@

        @Html.HiddenFor(m => m.CompanyID)
        @Html.HiddenFor(m => m.ParentCompanyID)

        @*</div>*@



    </div>



    <ul class="list-inline continueBtn">

        <li>
            @*@Html.ActionLink("Delete", "DeleteCompany",  new { OrgID = Model.CompanyID , @class = "btn primary-button" },
        new { onclick = "return confirm('Are you sure you want to delete?');" })*@
            @Html.ActionLink("Delete", "DeleteCompany",  new{ Orgid = Model.CompanyID },
          new { @onclick = "return confirm('Are you sure you want to delete?');", @class = "btn primary-button" })
            @if (Model.Is_Active == true)
            {

                @Html.ActionLink("Deactivate", "DeactivateCompany",  new{ Orgid = Model.CompanyID },
            new { @onclick = "return confirm('Are you sure you want to deactivate?');", @class = "btn primary-button" })
            }
            else
            {

                @Html.ActionLink("Activate", "ActivateCompany",  new{ Orgid = Model.CompanyID },
            new { @onclick = "return confirm('Are you sure you want to activate?');", @class = "btn primary-button" })

            }

            @Html.ActionLink("Modify", "UpdateCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })

        </li>
        <li>
            <input type="submit" value="Add Branch" class="btn primary-button"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>
        </li>
        <li>
            @*<input type="submit" value="Add Vendor" class="btn primary-button" onclick="AddVendor"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>*@

            @Html.ActionLink("Add Vendor", "AddVendor", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })

        </li>
        <li>
            @Html.ActionLink("Back", "SelectGroupCompany", new { Orgid = Model.ParentCompanyID }, new { @class = "btn primary-button" })

        </li>




    </ul>

    <div class="col-xs-6 subSelect ">

        @if (Model.AboutCompany.Count > 0)
        {
            <div class="new_section_box">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h4 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">List of Branches:</h4>

                        @foreach (var item in Model.AboutCompany)
                        {
                            <div class="col-sm-6 QueList">
                                <div class="queContainer">
                                    @*@item.OrganizationID = @Session["BranchID"];*@
                                    @if (item.Is_Active == false)
                                    {
                                        <a href="@Url.Action("ActivateBranch", "ManageOrganization", new { Orgid = item.OrganizationID})"
                                           onclick="return confirm('Are you sure you want to activate?')">
                                            <i class="fa fa-ban"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("DeactivateBranch", "ManageOrganization", new { Orgid = item.OrganizationID })"
                                           onclick="return confirm('Are you sure you want to deactivate?')">

                                            <i class="fa fa-check-circle"></i>
                                        </a>
                                    }
                                    <a href="@Url.Action("DeleteBranch", "ManageOrganization", new { Orgid = item.OrganizationID })"
                                       onclick="return confirm('Are you sure you want to delete?')">

                                        <i class="fa fa-trash pull-right"></i>
                                    </a>
                                    <span class="qIcon"><img src="/UploadedFiles/@item.logo" alt="" style="height:60px;width:75px"></span>
                                    <a href="@Url.Action("UpdateBranch", "ManageOrganization", new { id = item.OrganizationID })">

                                        <h3 class="PB25"> @Html.DisplayFor(modelItem => item.CompanyNameList)</h3>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        }

                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        }
        else
        {
            <center>
                <div class="clearfix"></div>
                <br />
                <br />
                <p id="successMessage">@ViewBag.Message</p>
            </center>
        }
    </div>
    <div class="col-xs-6 subSelect ">

        @if (Model.AboutBranch.Count > 0)
        {
            <div class="new_section_box">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h4 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">List of Vendors:</h4>
                        @foreach (var item in Model.AboutBranch)
                        {
                            <div class="col-sm-6 QueList">
                                <div class="queContainer">
                                    <a href="@Url.Action("AboutVendor", "ManageOrganization", new { id = item.OrganizationID })">
                                        <span class="qIcon"><img src="/UploadedFiles/@item.logo" alt="" style="height:60px;width:75px"></span>
                                        <h3 class="PB25"> @Html.DisplayFor(modelItem => item.CompanyNameList)</h3>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        }

                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        }
        else
        {
            <center>
                <div class="clearfix"></div>
                <br />
                <br />
                <p id="successMessage">@ViewBag.MessageV</p>
            </center>

        }
    </div>
}




