@model ComplianceAuditWeb.Models.CompanyViewModel

@{
    ViewBag.Title = "Audit Calender";

}
@section scripts{
    <script language="javascript" type="text/javascript">

        function GetComplianceType(_CompanyId) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#AuditCalender_CompanyID").html(procemessage).show();
            var url = "/Common/getcompliancelistundercompany";

            $.ajax({
                url: url,
                data: { compid: _CompanyId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>-- Select Compliance --</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#AuditCalender_CompanyID").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
            //  GetBranch(_CompanyId);
            GetYear();
        }

        function GetYear() {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#yearid").html(procemessage).show();
            var companyid = $("#companyid").val();
            var compliancetypeid = $("#complianceTypeid").val();
            var url = "/Common/getYear";

            $.ajax({
                url: url,
                data: { compid: companyid, compliancetypeid: compliancetypeid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>-- SelectYear --</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x] + ">" + data[x] + "</option>";
                    }
                    $('#AuditCalender_newyearid').append(markup);
                    $("#AuditCalender_newyearid").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });
        }

    </script>
}

@using (Html.BeginForm("AuditCalender", "ManageOrganization", FormMethod.Post))
{
    <div class="mid_content_sec">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="col-xs-4 subSelect ">
            <div class="input-field">
                @Html.Label("Select Company", new { @class = "floating-label" })<span style="color:red">*</span>
                @Html.DropDownListFor(model => model.AuditCalender.CompanyID, Model.CompaniesList, new { @onchange = "javascript:GetComplianceType(this.value); ", @class = "inputMaterial ui - autocomplete - input" })
                @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-4 subSelect ">
            <div class="input-field">
                @Html.Label("Select ComplianceType", new { @class = "floating-label" })<span style="color:red">*</span>
                @Html.DropDownListFor(model => model.AuditCalender.ComplainceTypeID, Model.ComplianceList, new { @class = "inputMaterial ui - autocomplete - input" })
                @Html.ValidationMessageFor(model => model.ComplianceID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-4 subSelect ">
            <div class="input-field">
                @Html.Label("Select Year", new { @class = "floating-label" })<span style="color:red">*</span>
                @*@Html.DropDownListFor(m=>m.yearid, Enumerable.Range(Model.yearid,DateTime.Now.Year-(Model.yearid - 1)).Select(i=> new SelectListItem { Value = i.ToString(), Text = i.ToString() }),
                    "Year", new { @class = "inputMaterial ui - autocomplete - input" })*@

                @Html.ListBoxFor(m => m.AuditCalender.newyearid, Model.years.AsEnumerable().Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() })
                 , new { @class = "inputMaterial ui - autocomplete - input" })
                @Html.ValidationMessageFor(model => model.yearid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-xs-4 subSelect ">
            <div class="input-field">
                @Html.Label("Start Date", new { @class = "floating-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(model => model.AuditCalender.StartDate, new { @readonly = "readonly", @class = "inputMaterial ui - autocomplete - input" })
                @Html.ValidationMessageFor(model => model.ComplianceID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="clearfix"></div>
        <ul class="list-inline continueBtn">
            <li>

                <input type="submit" value="Open" class="btn primary-button" />
                <span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>

                <a href="@Url.Action("dashboard","Common",new { pid=6})" class="btn primary-button">Cancel</a>

            </li>
        </ul>
    </div>




}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>



