@model ComplianceAuditWeb.Models.RolesViewModel

@{
    ViewBag.Title = "_Add RolePage";
}
<h2 class="ML15">Add Role</h2>
<ul class="breadcrumb ML15">
    <li><a href="/UserManagement/UserManagementdashboard">User Management</a></li>
    <li>Add Role</li>
</ul>
@using (Html.BeginForm())
{
<div class="mid_content_sec">
    @Html.AntiForgeryToken()
    <div class="col-xs-4 subSelect ">
        <div class="input-field">
            @Html.Label("RoleName:", new { @class = "floating-label" })  <span style="color:red">*</span>
            @if (Model.roles.RoleId > 0)
            {@Html.DisplayFor(model => model.roles.RoleName)}
        else
        {
            @Html.TextBoxFor(model => model.roles.RoleName, new { @class = "inputMaterial ui-autocomplete-input", autocomplete = "off" })
            <span id="loading_data_icon"></span>
        }
        </div>
    </div>
    <div class="col-xs-4 subSelect ">
        <div class="input-field">
            @Html.Label("IsGroupRole", new { @class = "floating-label" })
            @Html.CheckBoxFor(model => model.roles.IsGroupRole, new { @class = "inputMaterial ui-autocomplete-input", autocomplete = "off" })
            <span id="loading_data_icon"></span>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-10 subSelect ">
        <div class="input-field">
            @if (Model.Privilege != null)
            {
                @Html.Label("Privilege", new { @class = "floating-label" })<span style="color:red">*</span>
                @Html.ListBoxFor(m => m.PrivilegeId, Model.Privilege, new { @class = "inputMaterialSelect ui - autocomplete - input ", autocomplete = "off" })
                <span id="loading_data_icon"></span>
            }
        </div>
    </div>
    <div class="clearfix"></div>
    <ul class="list-inline continueBtn">
        <li>
            @{string button = "save";}
            @if (Model.roles.RoleId > 0)
            {
                button = "Update";
                @Html.ActionLink("Delete", "Deleterole", routeValues: new { RoleId = Model.roles.RoleId, @class = "btn primary-button" })
            }
            <input type="submit" value=@button class="btn primary-button" />
            <input type="reset" value="Reset" class="btn primary-button" />
            <input type="button" value="Cancel" class="btn primary-button" />
            @*<button type="submit" class="btn primary-button" id="btnProceed" name="Button" value=@button onclick="return ShowHide()">Add Company<span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span></button>*@

        </li>
    </ul>
    @Html.Action("ListofRoles")
</div>
}

@*@Html.Action("","")*@
