@model IEnumerable<Compliance.DataObject.User>
@if (TempData["Message"] != null)
{
<p id="successMessage">
    @TempData["Message"]
</p>
}
<p style="text-align:right;margin-right:20px">
    <i class="fa fa-plus"></i>@Html.ActionLink("Add User", actionName: "AddUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.LastLogin)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.CheckBox("chkdeactive")
                </td>*@
            <td>
                @{string source = "/UploadedFiles/" + item.photo;}
                <img src=@source alt="" height="50px" width="50px" />               
            </td>
            <td>
                @Html.ActionLink(linkText: item.FirstName, actionName: "UpdateUser", routeValues: new { UserId = item.UserId }, htmlAttributes: null)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.MiddleName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.LastLogin)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "UpdateUser", new { id=item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
            </td>
        </tr>
    }

</table>

@*<div class="new_section_box">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h2 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">User Management:</h2>
                @foreach (var item in Model)
                {
                    <div class="col-sm-3 QueList">
                        <div class="queContainer">

                            <a href="@Url.Action("UpdateUser","UserManagement", routeValues: new { UserId = item.UserId })">
                                <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                                <h3 class="PB25"> @Html.DisplayFor(modelItem => item.FirstName)</h3>
                                <h4 class="PB25">@Html.DisplayFor(modelitem => item.LastName)</h4>
                            </a>
                            <h4 class="PB25">@Html.DisplayFor(modelitem => item.EmailId)</h4>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>

            </div>

        </div>

    </div>*@