@model ComplianceAuditWeb.Models.AllocateActandRuleViewModel

@{
    /**/

    ViewBag.Title = "Compliance Mapping";
}

<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=14">Compliance Management</a></li>
    <li>Compliance Mapping</li>
</ul>
<h2 class="ML15">Compliance Mapping</h2>
@{ int branchcount = 0;}
@*@section scripts{
        <script language="javascript" type="text/javascript">
            function GetBranch(_CompanyId) {
                var procemessage = "<option value='0'> Please wait...</option>";
                $("#BranchId").html(procemessage).show();
                var url = "/Common/getspecificbranch";

                $.ajax({
                    url: url,
                    data: { compid: _CompanyId },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = "<option value='0'>Select Branch</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#BranchId").html(markup).show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });

            }

            function Getvendor(_CompanyId) {
                var procemessage = "<option value='0'> Please wait...</option>";
                $("#BranchId").html(procemessage).show();
                var url = "/Common/getspecificvendors";

                $.ajax({
                    url: url,
                    data: { compid: _CompanyId },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        var markup = "<option value='0'>Select Branch</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#BranchId").html(markup).show();
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }
                });
            }
        </script>


    }*@
@using (Html.BeginForm())
{
   <div class="mid_content_sec">
   
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-xs-12 subSelect ">
        <div class="input-field">
            @Html.Label("Company", new { @class = "floating-label" })
            @Html.DropDownListFor(model => model.CompanyId, Model.Companylist, new { @class = "inputMaterial ui - autocomplete - input", @onchange = "this.form.submit()" })
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 subSelect ">
        @if (Model.Branch != null)
        {
            <div class="new_section_box">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h4 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">List of Branch:</h4>
                        @if (TempData["Message"] != null)
                        {
                            <p id=" successMessage">  @TempData["Message"] </p>
                        }
                        @foreach (var item in Model.Branch)
                        {
                            <div class="col-sm-3 QueList">
                                <div class="queContainer">
                                    <a href="@Url.Action("Listofvendors", "ComplianceManagement", new { branchid = item.Company_Id,branchname=item.Company_Name })">
                                        <span class="qIcon"><img src="/UploadedFiles/@item.logo" alt="" style="height:60px;width:75px"></span>
                                        <h3 class="PB25"> @Html.DisplayFor(modelItem => item.Company_Name)</h3>
                                    </a>
                                    @*@{branchcount = branchcount + 1;}*@
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            @*if (branchcount % 2 == 0)
                            {
                                <div class="clearfix"></div>
                            }*@

                        }

                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        }
    </div>
    <div class="clearfix"></div>
    <ul class="list-inline continueBtn">
        <li>
            <a href="@Url.Action("dashboard","common",new { pid=14})" class="btn primary-button">Cancel</a>
        </li>
    </ul>
</div>
}
